@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Jim+Nightshade&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    font-family: "Open Sans";
}
body { 
   background-color: white;
   margin: 0;
   height: fit-content;
}

#topnav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 62, 76);
    height: 7.5vh;
    z-index: 999;
}

.navbutton { 
    padding: .65em 1.4em;
    margin-bottom: 1%;
    margin: .5%;
    text-decoration: none;
    color: white;
    border-style: solid;
    border-color: rgb(90, 98, 113);
    border-width: 1px;
    font-size: 19px;
    font-family: "Open Sans";
}

.navbutton:active { 
    background-color: rgb(140, 140, 207);
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: grey;
    font-size: 40px;
    background-image: url(images/img11.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    background-attachment: fixed;
    color: white;
}

header h1{
    font-weight: 400;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    margin-bottom: 2.5em;
    
}

header p { 
    position: absolute;
    margin-bottom: .5em;
    font-size: .75em;
    text-shadow: 1px 1px 1px black;
}
.main {
    display: flex;

    
}
.tcontainer-big { 
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4em;
    height: fit-content;

}

.tcard-container {
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.tcard {
    width: 31.33%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    flex-wrap: row;
    background-color: lightgray;

}

.tcard-img { 
    width: 100%;
}
h2 {
    font-weight: 600;
    font-size: 1.3em;
}
.tcard h2 { 
    color: green;
    margin-bottom: 0;
}
.tcard h2, .tcard p {
    margin-left: 1vw;
    margin-right: .5vw;
}
.tcard p {
    font-weight: 300;
}
.tcard a { 
    width: fit-content;
    height: fit-content;
    padding: .7em 1.4em;
    border-radius: .25em;
    color: white;
    align-self: center;
    font-weight: 500;
    text-decoration: none;
}

#card1 a{
    background-color: green;
}

#card2 a {
    background-color:cornflowerblue;
}
#card3 a {
    background-color:darkred;
}
#card2 h2 { 
    color: cornflowerblue;
}

#card3 h2 { 
    color: grey;
} 





.tcontainer-big-p2 {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4em;
    height: fit-content;
}

.tcard-container-p2 {
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.thcard {
    width: 48%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: lightgray;

}

.thcard-img { 
    width: 100%;
}


.thcard h2 { 
    margin-bottom: 0;
    align-self: center;
}
.thcard p {
    margin-left: 1vw;
    margin-right: 1vw;
}

.thcard a { 
    width: fit-content;
    height: fit-content;
    padding: .7em 1.4em;
    border-radius: .5em;
    color: grey;
    align-self: center;
    font-weight: 400;
    background-color: white;
    text-decoration: none;
    align-self: flex-end;
    margin-right: 4vw;
    margin-top: 2vh;
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;
}

.long-service { 
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 2px 2px black;
    background-image: url(images/img13.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;
    background-attachment: fixed;
    text-align: center;
    margin-top: 4em;
}

.long-service p, .long-service h2 {
    max-width: 40%;
}

.long-service h2 { 
    font-weight: 500;
}









.bcontainer-big { 
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4em;
    height: fit-content;

}

.bcard-container {
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.bcard {
    width: 22.5%;;
    height: 48vh;
    display: flex;
    flex-direction: column;
    flex-wrap: row;
    background-color: lightgray;

}

.bcard-img { 
    width: 100%;
}

.bcard h2 { 
    margin-bottom: 0;
    align-self: center;
    color: grey;
}
.bcard p {
    margin-left: 1vw;
    margin-right: .5vw;
}
.bcard p {
    font-weight: 300;
}
.bcard a { 
    width: fit-content;
    height: fit-content;
    padding: .7em 1.4em;
    border-radius: .5em;
    color: grey;
    align-self: center;
    font-weight: 500;
    text-decoration: none;
    background-color: white;
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;
}





.bcontainer-big-p2 {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4em;
    height: fit-content;
}

.bcard-container-p2 {
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bfcard {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: lightgray;

}

.bfcard-img { 
    width: 100%;
}


.bfcard h2 { 
    margin-top: 3em;
    margin-bottom: 0;
    
}
.bfcard p, .bfcard h2{
    margin-left: 1vw;
    margin-right: 1vw;
}

.bfcard a { 
    width: fit-content;
    height: fit-content;
    padding: .7em 1.4em;
    border-radius: .5em;
    color: grey;
    align-self: center;
    font-weight: 400;
    background-color: white;
    text-decoration: none;
    align-self: flex-start;
    margin-left: 1vw;
    margin-top: 2vh;
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;
}



.contact-container {
    max-width: 100vw;
    display: flex;
    background-image: url(images/img14.jpg);
    width: 100%;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 60vh;
    background-attachment: fixed;
    text-align: center;
    margin-top: 4em;
}

.contact {
    max-width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact h2 {
    
    font-size: 1.7em;
    color: white;
    text-shadow: 0px 2px 2px black;
}
.contact h2, .contact p {
    width: 100%;
}

.contact .idek {
    
    height: fit-content;
    text-align: center;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: .25em;
}

.idek p {
    width: 90%;
    margin-left: 2em;
    margin-right: 2em;
}
.forms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#left-f {
    width: 48%;
    display: flex;
    flex-direction: column;
    
    
}


#right-f {
    margin-left: 1.25vw;
    width: 48%;
    margin-top: .8em;
    display: flex;
    flex-direction: column;

}

.left-i {
    margin-top: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: .25em;
    color: black;
    font-weight: 600;
    padding: .5em .25em .5em .25em;
    border: none;
    outline: none;
}

#Yourmessage { 
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: .25em;
    padding-bottom: 7.75em;
    border: none;
    outline: none;
    text-wrap: wrap;
    font-weight: 600;
}


hr {
    color: grey;
    background-color: grey;
    width: 100%;
}

#right-f a{
    font-size: 1.2em;
    margin-top: 1em;
    width: fit-content;
    height: fit-content;
    background-color: rgb(38,38,40);
    padding: .5em 1.5em;
    text-decoration: none;
    color:white;
    border-radius: .5em;
    
}

footer { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

footer img { 
    align-self: flex-end;
    margin-right: 1em;
    margin-bottom: 1em;
}

footer h2, footer p:first-of-type {
    font-style: italic;
    
}




/* Tablet Styles */
@media screen and (min-width:520px) and (max-width:1024px) {

 #topnav {
    height: 10vh;
}
.navbutton {
    font-size: 16px;
    padding: .5em 1em;
}


header {
    font-size: 30px;
    height: 50vh;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 2em;
}

header p {
    font-size: 1em;
    margin-top: 1.5em;
}

.tcard-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.tcard {
    width: 80%;
    height: auto;
    margin-bottom: 2em;
}

.tcard h2 {
    font-size: 1.5em;
}

.tcard p {
    font-size: 0.9em;
}

.tcard a {
    padding: 0.7em 1.5em;
    font-size: 1em;
}


.tcard-container-p2 {
    width: 100%;

    flex-direction: column;
    align-items: center;
}

.thcard {
    width: 80%;
    margin-bottom: 2em;
    height: fit-content;
}

.thcard h2 {
    font-size: 1.5em;
}

.thcard p {
    font-size: 1em;
}

.thcard a {
    font-size: 1.1em;
    padding: 0.7em 1.5em;
}

.long-service {
    height: 35vh;
}

.long-service h2 {
    font-size: 2em;
}

.long-service p {

    font-size: 1em;
    max-width: 70%;
}


.bcard-container {
    flex-direction: column;
    align-items: center;
}

.bcard {
    width: 80%;
    margin-bottom: 2em;
    height: 60vh;
}

.bcard h2 {
    font-size: 1.2em;
}

.bcard p {
    font-size: 0.9em;
}

.bcard a {
    padding: 0.7em 1.5em;
    font-size: 1em;

}

.bcard-container-p2 {
    flex-direction: column;
    align-items: center;
}

.bfcard {
    width: 80%;
    height: fit-content;
}

.bfcard h2 {
    font-size: 1.5em;
}

.bfcard p {
    font-size: 1em;
}

.bfcard a {
    font-size: 1.1em;

}

.contact-container {
    height: auto;
    padding: 3em 0;
}

.contact h2 {
    font-size: 1.5em;
}

.forms {
    flex-direction: column;
    align-items: center;
    margin-left:0;
}
.idek { 
    height: 40vh;

    margin:0;
}

#left-f, #right-f {
    width: 100%;
    margin-left:0;
}

.left-i {
    padding: 0.5em;
    font-size: 1em;
    margin-left:0;
}

#Yourmessage {
    font-size: 1em;
}

#right-f a {
    font-size: 1.1em;
}

.idek p {
    margin-left: .5em;
}

}









/* Mobile Styles */
@media screen and  (max-width:520px) {
    #topnav {

        height: 12vh;
        flex-direction: row;
        justify-content: center;


    }

    .navbutton {
        font-size: 12px;
        padding: .5em 1.2em;

        margin: .5em 0;
    }

 

    header {
        font-size: 25px;
        height: 50vh;
        padding: 2em 0;
    }

    header h1 {
        font-size: 2.2em;
        margin-bottom: 1.5em;

    }

    header p {
        font-size: 0.9em;
        margin-top: 1.5em;


    }


    .tcard-container {
        flex-direction: column;
        width: 100%;
        align-items: center;

    }

    .tcard {
        width: 90%;
        height: auto;
        margin-bottom: 2em;
    }

    .tcard h2 {
        font-size: 1.2em;


    }


    .tcard p {
        font-size: 0.9em;
    }

    .tcard a {
        padding: 0.7em 1.4em;
        font-size: 1em;
    }


    .tcard-container-p2 {
        width: 100%;
        flex-direction: column;

        align-items: center;
    }

    .thcard {

        width: 90%;
        margin-bottom: 2em;
    }

    .thcard h2 {
        font-size: 1.4em;
    }

    .thcard p {
        font-size: 1em;
    }

    .thcard a {
        font-size: 1.1em;
        padding: 0.7em 1.5em;
    }


    .long-service {
        height: auto;
        padding: 2em 0;
    }

    .long-service h2 {
        font-size: 1.8em;

    }

    .long-service p {
        font-size: 0.9em;
        max-width: 80%;
    }

    .bcard-container {
        flex-direction: column;
        align-items: center;
    }

    .bcard {
        width: 90%;
        margin-bottom: 2em;

    }

    .bcard h2 {
        font-size: 1.2em;
    }

    .bcard p {
        font-size: 0.9em;
    }

    .bcard a {
        padding: 0.7em 1.5em;


        font-size: 1em;
    }

    .bcard-container-p2 {
        flex-direction: column;
        align-items: center;
    }

    .bfcard {
        width: 90%;

        height: 130vh;
    }

    .bfcard h2 {
        font-size: 1.3em;
    }

    .bfcard p {
        font-size: 1em;
    }

    .bfcard a {
        font-size: 1.1em;
    }

    .contact-container {
        height: auto;
        padding: 2em 0;
    }

    .contact h2 {

        font-size: 1.5em;
    }
    .idek p {
        margin-left: .5em;
    }
    .forms {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    #left-f, #right-f {
        width: 90%;
        margin-bottom: 1em;
        margin-left: 0;
    }

   
    
    .left-i {
        padding: 0.5em;
        font-size: 1em;
        margin-left: 0;
    }

    #Yourmessage {
        font-size: 1em;
        text-wrap: wrap;
    }

    #right-f a {
        font-size: 1.1em;
    }
  } 