@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Jim+Nightshade&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    font-family: "Open Sans";
}
body { 
    display: flex;
    flex-direction: column;
    flex-wrap: row;
    margin: 0;
   
}

#topnav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 62, 76);
    height: 7.5vh;
}

.navbutton { 
    padding: .65em 1.4em;
    margin-bottom: 1%;
    margin: .5%;
    text-decoration: none;
    color: white;
    border-style: solid;
    border-color: rgb(90, 98, 113);
    border-width: 1px;
    font-size: 19px;
    font-family: "Open Sans";
}

.navbutton:active { 
    background-color: rgb(140, 140, 207);
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: grey;
    font-size: 40px;
    background-image: url(images/img11.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    /* z-index: -5; */
    color: white;

}

header h1{
    font-weight: 400;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    margin-bottom: 2.5em;
    
}

header p { 
    position: absolute;
    margin-bottom: .5em;
    font-size: .75em;
    text-shadow: 1px 1px 1px black;
}
.main {
    display: flex;
    margin-top: 25vh;
}
.allcard-container-top { 
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.tcard-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: row;
}

.tcard {
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: row;
    background-color: lightgray;
}

.tcard-img { 
    width: 100%;
}

#card1 h2 { 
    color: green;
}

#card2 h2 { 
    color: blue;
}

#card3 h2 { 
    color: grey;
}
